doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title chatting!!
        link(rel="stylesheet", href="./css/chat.css")
        script( src="http://code.jquery.com/jquery-latest.min.js")
    body
        div#mainPage
            section#contentsPage
                article#classificationArticle
                    div
                        button.selectFlag Rooms
                        button users
                        button Friends
                        button Logout
                article#contentsArticle
                    div#roomsBox
                        div#roomChattingModal.displayFlag
                            section.roomChattingLeftSection
                                article
                                    div.roomNumberBox
                                        p 방 번호: 
                                        p 2
                                    div.chattingBox
                                article
                            section.roomChattingRightSection
                                article
                                article
                        div#roomList
                            div.room
                                div.peopleNumberBox
                                    p 참여인원 수: 
                                    p 3
                                div.roomNumberBox
                                    p 방 번호: 
                                    p 2
                                div.buttonBox
                                    button 입장
                            div.room
                                div.peopleNumberBox
                                    p 참여인원 수: 
                                    p 3
                                div.roomNumberBox
                                    p 방 번호: 
                                    p 2
                                div.buttonBox
                                    button 입장
                    //- div#usersBox
                    //- div#friendsBox 
        script(src="./js/chat.js")
        