* {
  margin: 0;
  padding: 0;
  font-size: 10px; }

input {
  outline: none; }

button {
  cursor: pointer;
  border: 0; }

#mainPage {
  width: 100vw;
  height: 100vh;
  background-color: #3B3B3B;
  display: flex;
  align-items: center;
  justify-content: center; }
  #mainPage > #contentsPage {
    width: 146.1rem;
    height: 83.9rem;
    background-color: #000;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #mainPage > #contentsPage > #classificationArticle {
      height: 12.1rem;
      width: 137.2rem;
      margin-top: 11.3rem;
      border-bottom: 1px solid #6EA0B0;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      #mainPage > #contentsPage > #classificationArticle > div > button {
        border-radius: .7rem;
        font-size: 3.6rem;
        color: #fff;
        background-color: #000;
        height: 8.8rem;
        width: 16rem; }
        #mainPage > #contentsPage > #classificationArticle > div > button.selectFlag {
          background-color: #3B3B3B; }
    #mainPage > #contentsPage > #contentsArticle {
      position: relative;
      width: 137.2rem;
      height: 54rem; }
      #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomList {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem; }
        #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomList > .room {
          margin: .8rem;
          height: 6.6rem;
          width: 95rem;
          border: 3px solid #6EA0B0;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: space-between; }
          #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomList > .room > div {
            display: flex; }
            #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomList > .room > div > p {
              font-size: 2rem;
              color: #fff; }
              #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomList > .room > div > p:nth-child(2) {
                margin-left: .5rem; }
            #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomList > .room > div > button {
              width: 11rem;
              height: 4.6rem;
              font-size: 2rem;
              color: #fff;
              white-space: pre;
              background-color: #6EA0B0; }
            #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomList > .room > div:nth-child(1) {
              margin-left: 2rem; }
            #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomList > .room > div:last-child {
              margin-right: 2rem; }
      #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomChattingModal {
        display: none;
        background-color: #000;
        width: 100%;
        height: 100%;
        position: absolute;
        align-items: flex-end;
        justify-content: flex-end; }
        #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomChattingModal > section:last-child > article:last-child {
          border: 0; }
        #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomChattingModal > section > article {
          box-sizing: border-box;
          border: 3px solid #6EA0B0;
          width: 100%; }
          #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomChattingModal > section > article:first-child {
            height: 43.3rem; }
          #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomChattingModal > section > article:last-child {
            margin-top: 1rem;
            height: 6.6rem; }
        #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomChattingModal > .roomChattingLeftSection {
          width: 94.4rem;
          height: 50.8rem;
          margin-right: 4rem;
          overflow: hidden; }
          #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomChattingModal > .roomChattingLeftSection > article > .roomNumberBox {
            width: 100%;
            height: 5.5rem;
            border-bottom: 1px solid #6EA0B0;
            display: flex;
            align-items: center;
            padding-left: 1.5rem; }
            #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomChattingModal > .roomChattingLeftSection > article > .roomNumberBox > p {
              margin-left: .5rem;
              font-size: 2rem;
              color: #fff; }
        #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomChattingModal > .roomChattingRightSection {
          width: 23.2rem;
          height: 50.8rem;
          margin-right: 8rem; }
        #mainPage > #contentsPage > #contentsArticle > #roomsBox > #roomChattingModal.displayFlag {
          display: flex; }
  #mainPage > #loginPage, #mainPage > #signupPage {
    width: 47.8rem;
    height: 57.1rem;
    background-color: #000;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    #mainPage > #loginPage > #idBox, #mainPage > #signupPage > #idBox {
      margin-top: 5rem;
      width: 26.1rem;
      height: 12.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      #mainPage > #loginPage > #idBox > div, #mainPage > #signupPage > #idBox > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #mainPage > #loginPage > #idBox > div > button, #mainPage > #signupPage > #idBox > div > button {
          width: 11rem;
          height: 4.6rem;
          font-size: 2rem;
          color: #fff;
          white-space: pre;
          background-color: #6EA0B0; }
        #mainPage > #loginPage > #idBox > div > input, #mainPage > #signupPage > #idBox > div > input {
          box-sizing: border-box;
          width: 14.6rem;
          padding-left: 2rem;
          font-size: 2rem;
          height: 5.1rem;
          background-color: #000;
          color: #fff;
          border: 3px solid #6EA0B0; }
      #mainPage > #loginPage > #idBox > input, #mainPage > #signupPage > #idBox > input {
        box-sizing: border-box;
        padding-left: 2rem;
        font-size: 2rem;
        height: 5.1rem;
        background-color: #000;
        color: #fff;
        border: 3px solid #6EA0B0; }
    #mainPage > #loginPage > #buttonBox, #mainPage > #signupPage > #buttonBox {
      margin-bottom: 5rem;
      width: 27.9rem;
      height: 11.3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      #mainPage > #loginPage > #buttonBox > button, #mainPage > #signupPage > #buttonBox > button {
        width: 100%;
        height: 4.6rem;
        border: 0;
        background-color: #6EA0B0;
        font-size: 2.4rem;
        color: #fff; }

/*# sourceMappingURL=chat.css.map */
